
.navbar {
    color: #fff;
    width: 100%;
    line-height: 80px;
    font-size: 18px;
    padding: 0 30px;
    
    z-index: 10;
    .navbar-brand{
        img{
            width:200px;
            height:100px;
            margin-top:10px;
        }
    }
    a {
      text-decoration: none;
      color: #fff;
     &.navbar-brand {
        float: left;
        height: inherit;
        line-height: inherit;
        padding: 0 30px;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        span {
          font-size: 28px;
          font-weight: 700;
        }
      }
    }
   
    ul {
      float: right;
      list-style: none;
      height: inherit;
      line-height: inherit;
      padding: 0 50px;
     li {
        display: inline-block;
        margin-left: 20px;
        a {
          display: block;
          text-align: center;
          text-transform: uppercase;
          padding-bottom: 1px;
          border-bottom: 2px solid transparent;
          transition: border-bottom 0.2s;
          &:hover{
            border-bottom:2px solid $maincolor;
             }
         }
      }
    }
    .navbar-toggler {
      display: none;
    }
  }
   /*responsive*/
  @media (max-width: 1023px) {
    .navbar ul {
     padding:0;
      li {
          margin:0;
          a {
        min-width: 100px;
        padding-left:33px;
        transition: color 0.2s;
        border:none;
        &:hover{
            border-bottom: none;
            color:$maincolor;
             }
      }
    }
  }
  .navbar {
    padding: 0;
    position:relative;
    display:block;
    ul {
      width: 100%;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.9);
      /* height: auto; */
      height: 100vh;
      max-height: 0;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
      &.open {
        max-height: 100vh;
      }
      li {
        width: 100%;
        a {
          text-align:left;
        }
      }
    }
    .navbar-toggler {
      display: block;
      position: absolute;
      height: 40px;
      top: 20px;
      right: 20px;
      background-color: transparent;
      color: #fff;
      outline: none;
      padding: 0 5px;
      cursor: pointer;
      transition: color 0.2s;
      span {
        display: block;
        content: '';
        background-color: #fff;
        height: 3px;
        width: 28px;
        transition: all ease-in-out 0.3s;
        &::before, &::after {
          display: block;
          content: '';
          background-color: #fff;
          height: 3px;
          width: 28px;
          transition: all ease-in-out 0.3s;
        }
        &::before {
          transform: translateY(-8px);
        }
        &::after {
          transform: translateY(5px);
        }
      }
      &.open-navbar-toggler span {
        /* transform: rotate(90deg); */
        background-color: transparent;
        /* transform: scale(0.85) rotate(270deg); */
        &::before {
          transform: translateY(0px) rotate(45deg);
          /* transform: translateY(0px) scale(0.75) rotate(45deg); */
        }
        &::after {
          transform: translateY(-3px) rotate(-45deg);
          /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
        }
      }
    }
  }
}
  
  